footer {
    margin-top: 80px;
    background: rgb(248, 243, 243);
}

footer li {
    list-style: none;

}

footer a {
    text-decoration: none;
    color: #000;
}

footer .fab {
    text-decoration: none;
    color: #7451EB;
    font-size: 25px;
}

footer .fab:hover {
    transform: scale(1.3);
}

footer a:hover {
    text-decoration: underline;
}

.appDownload {
    width: 250px;
}

footer .appDownload:hover {
    transform: scale(1.3);
}

.copyright {
    margin-bottom: 0px !important;
}

.copyright :hover {
    text-decoration: none;
}